.d-flex {
    display: flex;
}

.header_title {
    margin-bottom: 10px;
    font-weight: bold;
    color: gray;
}

.modal-header {
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.modal-popup .modal-title {
    border-bottom: none;
}

.modal-popup .modal-footer {
    padding-top: 0rem;
}

.modal-popup .modal-inner-wrap {
    width: 35%;
    margin: 15rem auto;
}

.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none !important;
}

.button_submit {
    width: 30%;
    line-height: 3rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: bold !important;
}

.currency {
    width: 50%;
}

.button_submit:hover {
    background-color: black;
    color: white;
}

button:not(.primary) {
    box-shadow: none;
}

body:not(._keyfocus) button:focus {
    color: white;
    background-color: black;
}

button:not(.primary):active {
    box-shadow: none !important;
}

.button_submit:active {
    background-color: black;
    color: white;
}

select {
    border: 1.5px solid lightgray;
    border-radius: 5px;
    height: 100%;
    padding: 1.2rem 3rem 1.2rem 1.2rem;
    color: gray;
    font-weight: bold;
}

.space-around {
    justify-content: space-around;
}

.ml-2 {
    margin-left: 2rem;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.currency {
    align-self: center;
}

.mt-2 {
    margin-top: 2rem;
}

.align-self-center {
    align-self: center;
}

@media screen and (max-width: 790px) {
    .button_submit {
        width: 100%;
    }
}
