<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ @copyright Open Software License (OSL 3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">-->
<!--        <arguments>-->
<!--            <argument name="columns" xsi:type="array">-->
<!--                <item name="transiteo_incoterm" xsi:type="string">-->
<!--                    sales_invoice.transiteo_incoterm-->
<!--                </item>-->
<!--                <item name="base_transiteo_total_taxes" xsi:type="string">-->
<!--                    sales_invoice.base_transiteo_total_taxes-->
<!--                </item>-->
<!--                <item name="base_transiteo_duty" xsi:type="string">-->
<!--                    sales_invoice.base_transiteo_duty-->
<!--                </item>-->
<!--                <item name="base_transiteo_vat" xsi:type="string">-->
<!--                    sales_invoice.base_transiteo_vat-->
<!--                </item>-->
<!--                <item name="base_transiteo_special_taxes" xsi:type="string">-->
<!--                    sales_invoice.base_transiteo_special_taxes-->
<!--                </item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->
</config>
