<?xml version="1.0"?>
<!--
  ~ @author Blackbird Agency
  ~ @copyright Open Software License (OSL 3.0)
  ~ @link <hello@bird.eu>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="transiteo" translate="label" sortOrder="900">
            <label>Duty &amp; Taxes Calculator</label>
        </tab>
        <section id="transiteo_activation" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Activation</label>
            <tab>transiteo</tab>
            <resource>Transiteo_DutiesTaxesCalculator::activation</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Token and Client Id</label>
                <!--<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>-->
                <field id="client_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                </field>
                <field id="refresh_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Refresh Token</label>
                </field>
                <field id="product_identifier" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Product Identifier field</label>
                    <comment>The attribute used as product identifier, linked with Transiteo Database. (default is SKU)</comment>
                    <source_model>Transiteo\DutiesTaxesCalculator\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
            <group id="geoip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Maxmind GeoIP2 Lite</label>

                <field id="enable_geoip_download" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable GeoIp Database download</label>
                    <comment>To use with Modal to locate the visitor's country.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>GeoIp License Key</label>
                    <depends>
                        <field id="enable_geoip_download">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="transiteo_settings" translate="label" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>transiteo</tab>
            <resource>Transiteo_DutiesTaxesCalculator::settings</resource>
            <group id="modal" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Opening Pop-up</label>
                <field id="show" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
                <field id="button_color" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Color</label>
                    <frontend_model>Transiteo\DutiesTaxesCalculator\Block\Admin\Color</frontend_model>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
                <field id="css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Additional CSS</label>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
            </group>
            <group id="duties" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Duties and Taxes Display</label>
                <field id="incoterm" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Incoterm</label>
                    <source_model>Transiteo\DutiesTaxesCalculator\Model\Config\Source\Incoterm</source_model>
                    <comment>
                        <![CDATA[<ul>
                        <li>DAP, Taxes will not be added to the order</li>
                        <li>DDP, Taxes will be added to the order</li>
                        </ul>]]>
                    </comment>
                </field>
                <field id="debug_mode" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Debug Mode</label>
                    <comment>We will trace the events in the /var/log/Transiteo_DutiesTaxesCalculator.log file.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_on" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1"  showInStore="1" canRestore="1">
                    <label>Pages to enable duties and taxes </label>
                    <source_model>Transiteo\DutiesTaxesCalculator\Model\Config\Source\Pages</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
            <group id="pdp_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Page Display Settings</label>
                <depends>
                    <field id="transiteo_settings/duties/enabled_on">pdp</field>
                </depends>
                <field id="enable_loader" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                    <label>Display Spinner while calculating new subtotal</label>
                    <comment>We will enable the loader spinner when the taxes are being updated.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>

                </field>
                <field id="product_form_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20" canRestore="1">
                    <label>Product Form Selector</label>
                    <comment>The HTML selector of the product form including the input quantity. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="qty_field_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30" canRestore="1">
                    <label>Qty Field Selector</label>
                    <comment>The HTML selector of the quantity input to analyse. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="super_attribute_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Super Attribute Selector</label>
                    <comment>If you use your own template for configurable. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="country_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Country Selector</label>
                    <comment>The HTML selector of the country input selector to analyse. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="total_taxes_container_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Total Taxes Container Selector</label>
                    <comment>If you want to use your own templates use the HTML selector of your total taxes block. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="vat_container_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>VAT / GST Container Selector</label>
                    <comment>If you want to use your own templates use the HTML selector of your vat block. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="duty_container_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Duty Container Selector</label>
                    <comment>If you want to use your own templates use the HTML selector of your duty block. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="special_taxes_container_selector" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Special Taxes Container Selector</label>
                    <comment>If you want to use your own templates use the HTML selector of your special taxes block. For more information go to https://www.w3schools.com/cssref/css_selectors.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="event_action" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50" canRestore="1">
                    <label>Event Action</label>
                    <comment>Events to listen to update the total price of the product. For example : change, input, blur, focus, select. For more information go to https://www.w3schools.com/js/js_events_examples.asp</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="delay" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60" canRestore="1">
                    <label>Delay</label>
                    <comment>The delay before sending the request to update the price (in milliseconds).</comment>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                </field>
                <field id="display_under_price" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                    <label>Display under sku</label>
                    <comment>We will display the subtotal block under sku</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_under_qty" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                    <label>Display under price</label>
                    <comment>We will display the subtotal block under price</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_under_add_to_cart" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                    <label>Display under add to cart button</label>
                    <comment>We will display the subtotal block under add to cart button</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="currency">
            <group id="transiteo" translate="label" sortOrder="42" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Transiteo</label>
                <field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Delay Time in Seconds</label>
                </field>
            </group>
        </section>

    </system>
</config>
