<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <transiteo_settings>
            <modal>
                <button_color>#000000</button_color>
                <title>Welcome !</title>
                <css><![CDATA[
                    #transiteo_taxes_modal {

                    }
                ]]></css>
            </modal>
            <duties>
                <enabled_on>plp,pdp,cart,checkout</enabled_on>
                <incoterm>dap</incoterm>
            </duties>
        </transiteo_settings>
    </default>
</config>
