<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="transiteo" xsi:type="array">
                    <item name="label" xsi:type="string">Transiteo</item>
                    <item name="class" xsi:type="string">Transiteo\Taxes\Model\Currency\Import\Transiteo</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Add the hourly option -->
    <preference for="Magento\Config\Model\Config\Backend\Currency\Cron" type="Transiteo\Taxes\Model\Config\Backend\Currency\Cron" />
    <type name="Magento\Cron\Model\Config\Source\Frequency">
        <plugin name="transiteo_add_hourly_cron_curreny" type="Transiteo\Taxes\Plugin\AddHourlyCurrencyCronUpdate" sortOrder="1" disabled="false" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="transiteo_taxes_to_order_item" type="Transiteo\Taxes\Plugin\Quote\TransiteoTaxesToOrderItem"/>
    </type>

    <!--Sync the sales_order table and sales_order_grid-->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="base_transiteo_total_taxes" xsi:type="string">sales_order.base_transiteo_total_taxes</item>
                <item name="base_transiteo_duty" xsi:type="string">sales_order.base_transiteo_duty</item>
                <item name="base_transiteo_vat" xsi:type="string">sales_order.base_transiteo_vat</item>
                <item name="base_transiteo_special_taxes" xsi:type="string">sales_order.base_transiteo_special_taxes</item>
            </argument>
        </arguments>
    </virtualType>

</config>

