<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @author Joris HART <jhart@efaktory.fr>
 * @copyright Copyright (c) 2020 eFaktory (https://www.efaktory.fr)
 * @link https://www.efaktory.fr
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Transiteo\Taxes\Api\Data\DistrictInterface" type="Transiteo\Taxes\Model\District" />
    <preference for="Transiteo\Taxes\Api\DistrictRepositoryInterface" type="Transiteo\Taxes\Model\DistrictRepository" />
    <preference for="Transiteo\Taxes\Api\Data\DistrictSearchResultInterface" type="Magento\Framework\Api\SearchResults" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="transiteo_geoip_updater" xsi:type="object">
                    Transiteo\Taxes\Console\Command\GeoIpUpdater
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Pricing\Adjustment\Collection">
        <arguments>
            <argument name="adjustments" xsi:type="array">
                <item name="duties" xsi:type="const">Transiteo\Taxes\Pricing\Adjustment::ADJUSTMENT_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Pricing\Adjustment\Pool">
        <arguments>
            <argument name="adjustments" xsi:type="array">
                <item name="duties" xsi:type="array">
                    <item name="className" xsi:type="string">Transiteo\Taxes\Pricing\Adjustment</item>
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
