<?xml version="1.0"?>
<!--
  ~ @author Blackbird Agency
  ~ @copyright Open Software License (OSL 3.0)
  ~ @link <hello@bird.eu>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <transiteo_activation>
            <general>
                <client_id></client_id>
                <refresh_token></refresh_token>
                <product_identifier>sku</product_identifier>
            </general>
            <geoip>
                <enable_geoip_download>0</enable_geoip_download>
                <cron><![CDATA[0 4 * * *]]></cron>
            </geoip>
            <duties>
                <enabled_on>cart,checkout,pdp</enabled_on>
                <incoterm>dap</incoterm>
                <taxes_calculation_method>CIF</taxes_calculation_method>
                <debug_mode>0</debug_mode>
            </duties>
            <order_sync>
                <order_id>increment_id</order_id>
                <status>
                    <item1>
                        <magento_status>canceled</magento_status>
                        <transiteo_status>Canceled</transiteo_status>
                    </item1>
                    <item2>
                        <magento_status>closed</magento_status>
                        <transiteo_status>Refunded</transiteo_status>
                    </item2>
                    <item3>
                        <magento_status>complete</magento_status>
                        <transiteo_status>Sent</transiteo_status>
                    </item3>
                    <item4>
                        <magento_status>fraud</magento_status>
                        <transiteo_status>Canceled</transiteo_status>
                    </item4>
                    <item5>
                        <magento_status>holded</magento_status>
                        <transiteo_status>Held</transiteo_status>
                    </item5>
                    <item6>
                        <magento_status>payment_review</magento_status>
                        <transiteo_status>Pending Payment</transiteo_status>
                    </item6>
                    <item7>
                        <magento_status>paypal_canceled_reversal</magento_status>
                        <transiteo_status>Canceled</transiteo_status>
                    </item7>
                    <item8>
                        <magento_status>paypal_reversed</magento_status>
                        <transiteo_status>Refunded</transiteo_status>
                    </item8>
                    <item9>
                        <magento_status>pending</magento_status>
                        <transiteo_status>Held</transiteo_status>
                    </item9>
                    <item10>
                        <magento_status>pending_payment</magento_status>
                        <transiteo_status>Pending Payment</transiteo_status>
                    </item10>
                    <item11>
                        <magento_status>pending_paypal</magento_status>
                        <transiteo_status>Pending Payment</transiteo_status>
                    </item11>
                    <item12>
                        <magento_status>processing</magento_status>
                        <transiteo_status>Payed</transiteo_status>
                    </item12>
                </status>
            </order_sync>
        </transiteo_activation>
        <currency>
            <transiteo>
                <timeout>100</timeout>
                <delay>1</delay>
            </transiteo>
        </currency>
        <transiteo_landedcost_settings>
            <modal>
                <show>1</show>
                <button_color>#000000</button_color>
                <title>Welcome !</title>
                <css><![CDATA[
                    #Transiteo_LandedCost_modal {

                    }
                ]]></css>
            </modal>
            <pdp_settings>
                <enable_loader>1</enable_loader>
                <product_form_selector>#product_addtocart_form</product_form_selector>
                <qty_field_selector>#qty</qty_field_selector>
                <super_attribute_selector>.super-attribute-select</super_attribute_selector>
                <country_selector>select[name='country_id']</country_selector>
                <total_taxes_container_selector>.transiteo-product-total-taxes
 .price-container .price-wrapper .total-taxes</total_taxes_container_selector>
                <vat_container_selector>.transiteo-product-total-taxes
 .price-container .price-wrapper .vat</vat_container_selector>
                <duty_container_selector>.transiteo-product-total-taxes
 .price-container .price-wrapper .duty</duty_container_selector>
                <special_taxes_container_selector>.transiteo-product-total-taxes
 .price-container .price-wrapper .special-taxes</special_taxes_container_selector>
                <display_under_sku>0</display_under_sku>
                <display_under_price>1</display_under_price>
                <display_under_add_to_cart>0</display_under_add_to_cart>
                <event_action>change input</event_action>
                <delay>60</delay>
            </pdp_settings>
        </transiteo_landedcost_settings>
    </default>
</config>
