<?xml version="1.0"?>
<!--
  ~ Transiteo LandedCost
  ~
  ~ NOTICE OF LICENSE
  ~ if you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to contact@bird.eu so we can send you a copy immediately.
  ~ @category      Transiteo
  ~ @package       Transiteo_LandedCost
  ~ @copyright    Open Software License (OSL 3.0)
  ~ @author          Blackbird Team
  ~ @license          MIT
  ~ @support        https://github.com/transiteo/Landed-Cost-Magento-2/issues/new/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Transiteo_LandedCost::cross_border_head" title="Transiteo Landed Cost" module="Transiteo_LandedCost" sortOrder="100" parent="Magento_Backend::stores" resource="Transiteo_LandedCost::cross_border_head" />
        <add id="Transiteo_LandedCost::activation" title="Activation" module="Transiteo_LandedCost" sortOrder="10" parent="Transiteo_LandedCost::cross_border_head" action="admin/system_config/edit/section/transiteo_activation" resource="Transiteo_LandedCost::activation" />
        <add id="Transiteo_LandedCost::settings" title="Settings" module="Transiteo_LandedCost" sortOrder="20" parent="Transiteo_LandedCost::cross_border_head" action="admin/system_config/edit/section/transiteo_landedcost_settings" resource="Transiteo_LandedCost::settings" />
    </menu>
</config>
