<?xml version="1.0"?>
<!--
  ~ @author Blackbird Agency
  ~ @copyright Open Software License (OSL 3.0)
  ~ @link <hello@bird.eu>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="geoip_country" xsi:type="string">Transiteo\LandedCost\CustomerData\GeoIpCountry</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="additional_provider" xsi:type="object">Transiteo\LandedCost\Model\Quote\QuoteTaxesProvider</item>
            </argument>
        </arguments>
    </type>
</config>
