<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Transiteo_Base::cross_border_head" title="Cross Border" sortOrder="100" >
                        <resource id="Transiteo_Base::activation" title="Activation" sortOrder="10">
                            <resource id="Transiteo_Base::token_update" title="Update Token" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>