<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <transiteo_activation>
            <general>
                <client_id></client_id>
                <refresh_token></refresh_token>
            </general>
        </transiteo_activation>
    </default>
</config>